@import '../../style/default.less';

.header-top{
    height: 60px;
    line-height: 30px;
    margin: 5px, 0;
    text-align: right;
    padding-right: 30px;
    background-color: @colorM;
    color: @colorC;
    padding-top: 15px;
}

.h_welcome{
    height: 30px;
    line-height: 30px;
    padding-right: 20px;
}

.h_icon{
    width: 30px;
    height: 30px;
}

.breadcrumb{
    height: 45px;
    line-height: 30px;
    margin: 5px, 0;
    padding-top: 5px;
    border-top: 1px solid @colorA;
    background-color: @colorM;
    color: @colorC;

    .breadcrumb-title{
        text-align: center;
        font-size: 16px;
        //三角形 
        &:after{
            position: relative;
            content: '';
            left:-30px;
            top:42px;
            z-index: 1000;
            border-top: 12px solid @colorM;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
        }
    }
    .breadcrumb-weather{
        text-align: right;
        padding-right: 30px;
    }
}