@import '../../style/default.less';

.pm_wrap{
    height: calc(85vh);
    font-size: 20px;
    padding: 10px;
    background-color: @colorK;
    color: @colorM;
}

.pm_top{
    display: flex;
    inline-size: 40px;
    height: 40px;
    width: 100%;
}

.pm_tab{
    background-color: @colorM;
    padding: 10px;
    .pm_editBtn{
        margin-right: 20px;
    }
}

